$heading-font-family: 'Roboto', sans-serif;
$subheading-font-family: 'Poppins', sans-serif;
$base-font-size: 18px;
$base-font-weight: 400;
$body-color: #111;
$tertiary-color: #923F10;


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $body-color;
    font-family: $heading-font-family;
}

.mapouter{
    position:relative;
    text-align:right;
    height:700px;
    width:600px;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:680px;
    width:600px;
}

.contactform {
    text-align: center;
    color: #fff;
    h5 {
        margin-top: 1em;
        letter-spacing: 5px;
        font-size: 2em;
    }

    p{
        font-family: $subheading-font-family;
        font-size: 0.9em;
        font-weight: 100;
        margin-top: 1em;
    }
}

// input
form{
    display: block;
    margin: 0 auto;
    max-width: 34rem;
    width: 100%;
  }
  
  form > div{
    position: relative;
  }
  
  form label{
    position: absolute;
    opacity: 0.6;
    font-size: 1rem;
    left: 1rem;
    pointer-events: none;
    color: #eee;
    transition: all .22s;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    font: $subheading-font-family;
  }
  
  form input, textarea{
    width: 100%;
    padding: 0.4em 2em;
    background: rgb(145, 143, 143);
    margin: 1.5rem 0;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 1rem;
  }

  textarea {
      height: 10em;
  }
  
  form input:focus , 
  form textarea:focus {
    background: rgb(226, 219, 219);
    outline: 0;
  }
  
  form input:focus + label,
  form input:hover + label,
  form input:valid + label {
    top: 0;
    font-size: 0.8rem;
    transform: translateY(0);
    left: 0;
    opacity: 1;
  }

  form textarea:focus + label,
  form textarea:hover + label,
  form textarea:valid + label {
    top: 0;
    font-size: 0.8rem;
    transform: translateY(0);
    left: 0;
    opacity: 1;
  }
  
  
  form .cover{
    width: 100%;
    position: absolute;
    background: #111;
    height: 4px;
    top: 1.25rem;
  }


.map {
    overflow: hidden;
}

.sbmtbtn {
  margin-bottom: 2em;
}