* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #111;
}

.header-nightsky {
  color: white;
  background: url("../Images/header.png") no-repeat;
  background-size: cover;
  background-position: bottom;
  padding-bottom: 720px;
  height: 10em;
}

.header-nightsky .shop-details {
  text-align: center;
  margin-top: 8em;
  margin-bottom: 100px;
}

.header-nightsky h1 {
  letter-spacing: 6px;
  font-size: 48px;
}

.header-nightsky p {
  font-size: "Poppins", sans-serif;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 20px;
  padding: 30px 30px;
}

.header-nightsky .search {
  width: 20em;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1em;
  font-size: 13px;
  border-radius: 5px 0 0 5px;
}

.header-nightsky .srch-btn {
  color: #fff;
  background-color: #7F5539;
  margin-left: -9px;
  border-radius: 0 5px 5px 0;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
}

.header-nightsky .discover-btn {
  margin-top: 2em;
}

.header-nightsky .discover-btn a {
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
  background-color: #B08968;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  text-decoration: none;
  color: #fff;
  padding: 0.4em 2em;
  border-radius: 5px;
}

.header-nightsky .discover-btn a:hover {
  background-color: #fff;
  border-color: #923F10;
  color: #923F10;
  letter-spacing: 1px;
}

.navigation {
  padding-top: 2em;
}

.navigation .nav-item .nav-link {
  color: #fff !important;
}

.intro {
  text-align: center;
  padding: 25px;
  background: #111;
  color: #ddd;
}

.intro h1 {
  font-size: 48px;
  font-weight: 300;
  padding: 15px 0;
}

.intro p {
  opacity: 0.5;
  font-size: 12px;
}

.intro p a {
  color: #FA8CD3;
  text-decoration: none;
}

/*styling*/
.gridywrap .gridimg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
}

.gridywrap .gridimg img {
  width: 100%;
}

.gridywrap .gridinfo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.gridywrap .gridinfo:hover {
  background: #923F10;
  opacity: 0.7;
}

.gridywrap .gridinfo:hover h3 {
  margin-top: 70px;
  opacity: 1;
}

.gridywrap .gridinfo h3 {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  margin: 130px 0 20px;
  position: relative;
  opacity: 1;
}

.gridywrap .gridinfo h3::after {
  content: '';
  width: 25px;
  border-top: 4px solid #fff;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}

.gridywrap .gridinfo .gridmeta {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

.gridywrap .gridinfo .gridmeta p {
  display: inline-block;
  font-size: 13px;
  color: #fff;
  margin-bottom: 15px;
}

.gridywrap .gridinfo .gridmeta p i {
  margin-right: 5px;
}

.gridywrap .gridinfo .gridmeta p.gridwho {
  margin-left: 25px;
}

.gridywrap .gridinfo .grid-btn {
  color: #fff;
  text-decoration: none;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 25px;
  border: 1px solid #fff;
  display: block;
  overflow: hidden;
}

.gridywrap .gridinfo .grid-btn span {
  opacity: 0;
  display: none;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
}

.gridywrap .gridinfo .grid-btn:hover {
  width: 75px;
  background: rgba(0, 0, 0, 0.3);
}

.gridywrap .gridinfo .grid-btn:hover span {
  opacity: 1;
  display: inline;
}

.gridywrap .gridinfo .grid-btn:hover i {
  opacity: 0;
  display: none;
}

.gridywrap .gridinfo .grid-btn:hover p {
  opacity: 1;
}

.gridywrap .gridinfo p.gridexerpt {
  width: 60%;
  margin: 0 auto;
  line-height: 22px;
  margin-bottom: 25px;
  color: #fff;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.gridywrap .gridinfo * {
  opacity: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.gridywrap .gridinfo:hover * {
  opacity: 0.7;
}

.gridywrap div[class*=gridy] {
  background: #eee;
  -webkit-box-shadow: inset 0 0 0 1px #ddd;
          box-shadow: inset 0 0 0 1px #ddd;
  padding: 15px;
  float: left;
  position: relative;
}

.gridywrap .gridy-1,
.gridywrap .gridy-2,
.gridywrap .gridy-3 {
  width: 320px;
  overflow: hidden;
}

.gridywrap .gridy-1 {
  width: 100%;
}

.gridywrap .gridy-2 {
  width: 100%;
}

.gridywrap .gridy-3 {
  width: 100%;
}

.gridywrap .gridyhe-1 {
  height: 320px;
}

.gridywrap .gridyhe-2 {
  height: 320px;
}

@media screen and (min-width: 640px) {
  .gridywrap .gridyhe-2 {
    height: 320px;
  }
  .gridywrap {
    width: 100%;
  }
  .gridywrap .gridy-1 {
    width: 50%;
  }
  .gridywrap .gridy-2 {
    width: 50%;
  }
  .gridywrap .gridy-3 {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .gridywrap .gridy-1 {
    width: 33.3%;
  }
  .gridywrap .gridy-2 {
    width: 66.6%;
  }
  .gridywrap .gridy-3 {
    width: 100%;
  }
  .gridywrap .gridyhe-2 {
    height: 640px;
  }
}

.border {
  width: 100%;
  height: 57vh;
  background-color: navajowhite;
}

.services {
  margin-top: 1em;
}

.services h1 {
  color: #fff;
  font-size: 2.3em;
  letter-spacing: 0.5em;
  text-align: center;
  padding: 70px 0 20px;
}

.services .tagline {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.services .tagline #tagline-desc {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  letter-spacing: 2px;
  text-align: center;
}

.services .fa-certificate,
.services .fa-shipping-fast,
.services .fa-headphones {
  color: #fff;
  font-size: 1.8em;
  margin-top: 1.4em;
}

.services span {
  font-size: 1.2em;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  position: relative;
  top: -5px;
  margin-left: 1.5em;
  padding-bottom: 5em;
}

.services span #support {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 1.2em;
}

.shop-video {
  margin-top: 5em;
  background-color: #923F10;
  width: 100%;
}

.shop-video h2 {
  color: #fff;
  margin-top: 5em;
  text-align: center;
}

.shop-video .video-dec {
  margin: 2em 6em;
}

.shop-video .video-dec p {
  line-height: 1.4em;
}

.shop-video .btn-cont {
  margin: 1em 6em;
}

.shop-video .btn-cont .btn {
  position: relative;
  padding: 10px 50px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  font-size: 0.8em;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-font-smoothing: antialiased;
}

.shop-video .btn-cont .btn:hover {
  border: none;
}

.shop-video .btn-cont .btn:hover .line-1 {
  -webkit-animation: move1 1500ms infinite ease;
          animation: move1 1500ms infinite ease;
}

.shop-video .btn-cont .btn:hover .line-2 {
  -webkit-animation: move2 1500ms infinite ease;
          animation: move2 1500ms infinite ease;
}

.shop-video .btn-cont .btn:hover .line-3 {
  -webkit-animation: move3 1500ms infinite ease;
          animation: move3 1500ms infinite ease;
}

.shop-video .btn-cont .btn:hover .line-4 {
  -webkit-animation: move4 1500ms infinite ease;
          animation: move4 1500ms infinite ease;
}

.shop-video .btn-cont .line-1 {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  background-color: white;
  left: 0;
  bottom: 0;
}

.shop-video .btn-cont .line-2 {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: white;
  left: 0;
  top: 0;
}

.shop-video .btn-cont .line-3 {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  background-color: white;
  right: 0;
  top: 0;
}

.shop-video .btn-cont .line-4 {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  background-color: white;
  right: 0;
  bottom: 0;
}

@-webkit-keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}

@keyframes move1 {
  0% {
    height: 100%;
    bottom: 0;
  }
  54% {
    height: 0;
    bottom: 100%;
  }
  55% {
    height: 0;
    bottom: 0;
  }
  100% {
    height: 100%;
    bottom: 0;
  }
}

@-webkit-keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes move2 {
  0% {
    width: 0;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@-webkit-keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}

@keyframes move3 {
  0% {
    height: 100%;
    top: 0;
  }
  54% {
    height: 0;
    top: 100%;
  }
  55% {
    height: 0;
    top: 0;
  }
  100% {
    height: 100%;
    top: 0;
  }
}

@-webkit-keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}

@keyframes move4 {
  0% {
    width: 0;
    right: 0;
  }
  55% {
    width: 100%;
    right: 0;
  }
  100% {
    width: 0;
    right: 100%;
  }
}

.shop-video .process-video {
  width: 70%;
  height: 20em;
  display: block;
  margin: 7em auto;
}

.shop-video video {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.shop-video #vid {
  opacity: 0.5;
  font-size: 12px;
}

.shop-video #vid a {
  color: #FA8CD3;
  text-decoration: none;
}

#wave {
  position: relative;
  top: -5em;
  z-index: -1;
}

.rev-container {
  margin-bottom: 6em;
}

.rev-container .fa-star,
.rev-container .fa-star-half {
  color: #923F10;
}

#review-title {
  letter-spacing: 6px;
  font-size: 48px;
  text-align: center;
  margin: -3em 0 1em;
  color: #fff;
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

figure.snip1192 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  color: #333;
  text-align: left;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

figure.snip1192 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

figure.snip1192 img {
  max-width: 100%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
  display: inline-block;
  z-index: 1;
  position: relative;
}

figure.snip1192 blockquote {
  margin: 0;
  display: block;
  border-radius: 8px;
  position: relative;
  background-color: #fafafa;
  padding: 30px 50px 65px 50px;
  font-size: 0.8em;
  font-weight: 500;
  margin: 0 0 -50px;
  line-height: 1.6em;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip1192 blockquote:before,
figure.snip1192 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}

figure.snip1192 blockquote:before {
  top: 35px;
  left: 20px;
}

figure.snip1192 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 35px;
}

figure.snip1192 .author {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

figure.snip1192 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}

figure.snip1192 .author h5 span {
  font-weight: 400;
  text-transform: none;
  display: block;
}

@media only screen and (max-width: 1300px) {
  #review-title {
    margin: -1em 0 1em;
    font-size: 40px;
  }
  .shop-video h2 {
    margin: 3.5em 1em 0;
    text-align: left;
    width: 90%;
    text-align: center;
  }
  .shop-video .video-dec {
    margin: 2em 3em;
    text-align: center;
  }
  .shop-video .video-dec p {
    line-height: 1.5em;
    font-size: 0.9em;
  }
  .shop-video .process-video {
    margin: 5em auto;
  }
  .shop-video iframe {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
  }
  .shop-video .btn-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .shop-video .btn-cont .btn {
    font-size: 0.7em;
  }
  #wave {
    top: -2em;
  }
}

@media only screen and (max-width: 900px) {
  #review-title {
    margin: -1em 0 1em;
    font-size: 35px;
  }
  .header-nightsky {
    padding-bottom: 800px;
  }
  .header-nightsky .shop-details {
    text-align: center;
    margin-top: 8em;
    margin-bottom: 100px;
  }
  .header-nightsky .shop-details h1 {
    font-size: 36px;
  }
  .header-nightsky .shop-details p {
    font-size: 16px;
  }
  .header-nightsky .search {
    height: 3em;
    letter-spacing: 0.5em;
    font-size: 10px;
  }
  .header-nightsky .srch-btn {
    font-size: 10px;
  }
  .header-nightsky .discover-btn {
    font-size: 16px;
  }
  .intro h1 {
    font-size: 2em;
    font-weight: bold;
  }
  .services h1 {
    font-size: 28px;
    letter-spacing: 0.2em;
  }
  .services .tagline {
    width: 55%;
    display: block;
    margin: 0 auto;
  }
  .services .tagline #tagline-desc {
    font-size: 13px;
  }
  .services .fa-certificate,
  .services .fa-shipping-fast,
  .services .fa-headphones {
    margin-top: 2em;
    font-size: 1em;
  }
  .services span {
    font-size: 1em;
  }
  .tagline {
    width: 100%;
  }
  .tagline #tagline-desc {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    text-align: center;
  }
  .shop-video h2 {
    margin: 2em 1.5em 0;
    text-align: left;
    width: 90%;
  }
  .shop-video .video-dec {
    margin: 2em 3em;
    text-align: left;
  }
  .shop-video .video-dec p {
    line-height: 1.5em;
  }
  .shop-video .process-video {
    margin: 5em auto;
  }
  .shop-video iframe {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
  }
  .shop-video .btn-cont {
    margin: 1em 3em;
  }
}

@media only screen and (max-width: 550px) {
  #review-title {
    margin: 1em 0 1em;
    font-size: 1.5em;
  }
  .header-nightsky .shop-details h1 {
    font-size: 1.5em;
  }
  .header-nightsky .shop-details p {
    font-size: 15px;
  }
  .intro h1 {
    font-size: 1.5em;
    font-weight: bold;
  }
  .services h1 {
    font-size: 1.5;
    letter-spacing: 0.2em;
  }
  .services .tagline {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  .services .tagline #tagline-desc {
    font-size: 10px;
  }
  .services .fa-certificate,
  .services .fa-shipping-fast,
  .services .fa-headphones {
    margin-top: 2em;
    font-size: 0.9em;
  }
  .services span {
    font-size: 0.9em;
    top: 0;
  }
  .tagline {
    width: 100%;
  }
  .tagline #tagline-desc {
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    text-align: center;
  }
  .shop-video h2 {
    margin: 2em 1.5em 0;
    text-align: left;
    width: 90%;
    text-align: center;
  }
  .shop-video .video-dec {
    margin: 2em 3em;
    text-align: center;
  }
  .shop-video .video-dec p {
    line-height: 1.5em;
    font-size: 0.9em;
  }
  .shop-video .process-video {
    margin: 5em auto;
  }
  .shop-video iframe {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
  }
  .shop-video .btn-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .shop-video .btn-cont .btn {
    font-size: 0.7em;
  }
  #wave {
    top: 0;
  }
}
/*# sourceMappingURL=style.css.map */